*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

.diamond-grid{
    width: 70%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 220px;
    height: 220px;
    background: white;
    
}

.item img{
    width: 100%;
    transition: 0.3s;
    transform: scale(1.2);
}

.item:hover img{
    transform: scale(1);
    transition: 0.3s;
}